* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --Green-500: hsl(158, 36%, 37%);
    --Green-700: hsl(158, 42%, 18%);
    --Black: hsl(212, 21%, 14%);
    --Grey: hsl(228, 12%, 48%);
    --Cream: hsl(30, 38%, 92%);
    --White: hsl(0, 0%, 100%);
    --attribuition: hsl(228, 45%, 44%); 

    --font-body: "Montserrat", sans-serif;
    --font-title: "Fraunces", serif;
    --font-size-body: 0.875rem;
    --font-size-price: 1.5625rem;
}
body {
    background-color: var(--Cream);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
main {
 width: 100%;
 max-width: 600px;
}
.card {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    border-radius: 15px;
    overflow: hidden;
    background-color: var(--White);
    margin-top: 90px;
}
picture{
    width: 50%;
    flex-shrink: 0;
}
.imagem {
    width: 100%;
    display: block;
}
.conteudo {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 30px;  
}
.tag {
    color: var(--Grey);
    font-family: var(--font-body);
    font-size: var(--font-size-body);
    font-weight: 500;
    padding: 0 0 15px 0;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.titulo {
    color: var(--Black);
    font-family: var(--font-title);
    padding: 0 0 15px;
    line-height: 1;
}
.texto{
    color: var(--Grey);
    font-family: var(--font-body);
    font-size: var(--font-size-body);
    font-weight: 500;
    padding: 0 0 15px 0;
    line-height: 1.7;
}
.precos{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 5px 0 25px 0;
}
.promo {
    color: var(--Green-500);
    font-family: var(--font-title);
    font-weight: 700;
    font-size: var(--font-size-price);
}
.valor {
    color: var(--Grey);
    font-family: var(--font-body);
    font-size: 0.75rem;
    text-decoration: line-through;
}
.botao{ 
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--Green-500);
    color: var(--White);
    font-family: var(--font-body);
    font-weight: 700;
    padding: 15px;
    border-radius: 10px;
    width:100%;
}
.botao:hover {
    background-color: var(--Green-700);
}
.botao:focus {
    outline: 2px solid var(--Green-700);
    outline-offset: 2px;
    background-color: var(--Green-700);
}
.attribution { 
    font-size: 0.6875rem; 
    text-align: center;
}
.attribution a { 
    color: var(--attribuition);
}
@media (max-width: 600px){
    main{
        padding: 0 15px;
    }
    .card{
        flex-direction: column
    }
    picture{
        width: 100%;
    }

}